<div
  class="d-flex flex-column align-items-center justify-content-center h-100"
  *ngIf="isLoading$ | async"
>
  <div class="spinner-border" role="status">
    <span>Loading...</span>
  </div>
</div>

<div class="container" *ngIf="!(isLoading$ | async)">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="fw-bold text-center">Equipments</h1>
      <div class="mb-2">
        <a class="btn btn-primary btn-sm" type="button" [routerLink]="'add'"
          >Add</a
        >
      </div>
      <table class="table shadow-lg table-responsive">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Power</th>
            <th scope="col">Installation</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="equipments$ | async as equipments">
          <tr scope="row" *ngFor="let equip of equipments">
            <td>{{ equip.name }}</td>
            <td>{{ equip.powerRequirement }}</td>
            <td class="text-nowrap">
              {{ equip.installationDate | date : "dd-MM-yyyy" }}
            </td>
            <td class="text-nowrap">
              <button
                class="btn btn-secondary btn-sm me-1"
                [routerLink]="[equip._id]"
              >
                View
              </button>
              <a
                class="btn btn-primary btn-sm me-1"
                type="button"
                [routerLink]="[equip._id + '/edit']"
                >Edit</a
              >
              <button
                class="btn btn-danger btn-sm"
                type="button"
                (click)="onDeleteEquipment(equip._id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
