<div class="d-flex justify-content-center" *ngIf="!isFetching">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="list-group mx-4" *ngIf="isFetching">
  <div class="m-3">
    <button class="btn btn-primary">Add</button>
  </div>
  <div
    href="#"
    class="list-group-item my-1"
    style="cursor: pointer"
    *ngFor="let equipment of equipments"
  >
    <div class="d-flex w-100 justify-content-between">
      <h3 class="fw-bold text-primary-emphasis mb-1">{{ equipment.name }}</h3>
      <small>{{ "Installed: " + equipment.installationDate }}</small>
    </div>
    <p class="mb-1">{{ equipment.description }}</p>

    <div class="d-flex w-100 justify-content-between">
      <small>{{ "Power Requirement: " + equipment.powerRequirement }}</small>
      <div>
        <button class="btn btn-primary btn-sm me-1">Edit</button>
        <button class="btn btn-danger btn-sm">Delete</button>
      </div>
    </div>
  </div>
</div>
