<div
    class="d-flex flex-column justify-content-center align-items-center min-vh-100"
>
    <div class="container">
        <p class="text-center fw-bold">You can now reset your password</p>
        <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
            <!-- Email input -->
            <div class="row">
                <div class="col-xs-12 col-md-6 mx-auto form-outline mb-4">
                    <input
                        placeholder="New Password"
                        type="password"
                        class="form-control"
                        formControlName="password"
                        id="password"
                    />
                    <div
                        class="alert alert-warning fs-6"
                        *ngIf="
                            !resetPassword.get('password').valid &&
                            resetPassword.get('password').touched
                        "
                    >
                        <span
                            *ngIf="
                                resetPassword.get('password').errors['required']
                            "
                            >Password is required</span
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 mx-auto form-outline mb-4">
                    <input
                        placeholder="Confirm Password"
                        type="password"
                        class="form-control"
                        formControlName="passwordConfirm"
                        id="passwordConfirm"
                    />
                    <div
                        class="alert alert-warning fs-6"
                        *ngIf="
                            !resetPassword.get('passwordConfirm').valid &&
                            resetPassword.get('passwordConfirm').touched
                        "
                    >
                        <span
                            *ngIf="
                                resetPassword.get('passwordConfirm').errors[
                                    'required'
                                ]
                            "
                            >Confirm Password is required</span
                        >
                    </div>
                    <div
                        class="alert alert-warning fs-6"
                        *ngIf="resetPassword.errors?.['passwordMismatch'] && 
                                resetPassword.get('passwordConfirm').touched"
                    >
                        <span>Passwords do not match</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        <span>{{ error }} </span>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="text-center mt-3">
                <button
                    [disabled]="resetPassword.invalid"
                    type="submit"
                    class="btn btn-primary btn-block mb-4"
                >
                    Send
                </button>
            </div>
        </form>
    </div>
</div>
