<body
    class="d-flex flex-column justify-content-center align-items-center min-vh-100 mx-2"
>
    <div class="container ">
        <div class="text-center">
            <h1 class="fw-bold">Welcome to Speedy Tools</h1>
        </div>
        <div class="row justify-content-center m-2">
            <div class="col-xs-12 col-md-6">
                <mat-card class="bg-light shadow-lg h-100">
                    <img
                        src="./../../../../assets/images/multipond.jpg"
                        alt=""
                        class="img-thumbnail h-100"
                    />
                </mat-card>
            </div>
            <div class="col-xs-12 col-md-6">
                <mat-card class="bg-light shadow-lg h-100">
                    <img
                        src="./../../../../assets/images/bn8-M495265.png"
                        alt=""
                        class="img-thumbnail h-100"
                    />
                </mat-card>
            </div>
        </div>
    </div>
</body>
