<div
    class="d-flex flex-column justify-content-center align-items-center min-vh-100"
>
    <div class="container">
        <p class="text-center fw-bold">Email to reset password</p>
        <!-- Email input -->
        <div class="row">
            <div class="col-xs-12 col-md-6 mx-auto form-outline mb-4">
                <input
                    placeholder="Email"
                    type="email"
                    class="form-control"
                    formControlName="email"
                    id="email"
                />
                <div
                    class="alert alert-warning fs-6"
                    *ngIf="
                        !forgotPassword.get('email').valid &&
                        forgotPassword.get('email').touched
                    "
                >
                    <span *ngIf="forgotPassword.get('email').errors['required']"
                        >Email is required</span
                    >
                </div>
            </div>
            <!-- Submit button -->
            <div class="text-center mt-3">
                <button
                    [disabled]="forgotPassword.invalid"
                    type="submit"
                    class="btn btn-primary btn-block mb-4"
                >
                    Send
                </button>
            </div>
        </div>
    </div>
</div>
